name: Windows-ARM-Dev-RDP

on: 
  workflow_dispatch:

jobs:
  development-android-app:
    runs-on: windows-11-arm
    timeout-minutes: 360
    
    steps:
      - name: Enable Remote Desktop & Configure User
        shell: pwsh
        run: |
          # 1. Aktifkan Fitur Remote Desktop di Registry
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          
          # 2. Izinkan RDP melalui Firewall Windows
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          
          # 3. Matikan NLA (Network Level Authentication) agar koneksi lebih mudah
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0
          
          # 4. Set password dan pastikan akun aktif
          net user runneradmin Password123!
          net user runneradmin /active:yes
          # development android app

      - name: Download and Setup Bore
        run: |
          Invoke-WebRequest -Uri https://github.com/ekzhang/bore/releases/download/v0.5.1/bore-v0.5.1-x86_64-pc-windows-msvc.zip -OutFile bore.zip
          Expand-Archive bore.zip -DestinationPath .
          # development android app

      - name: Start RDP Tunnel
        shell: pwsh
        run: |
          Write-Host "Starting tunnel for RDP on port 3389..."
          # Jalankan bore secara background
          Start-Process -FilePath ".\bore.exe" -ArgumentList "local 3389 --to bore.pub" -NoNewWindow
          # development android app
          
      - name: Keep Live 6 Hours
        shell: pwsh
        run: |
          $startTime = Get-Date
          $endTime = $startTime.AddHours(6)
          Write-Host "Keep live started at $startTime. Will run until $endTime."
          while ((Get-Date) -lt $endTime) {
            Write-Host "Runner is active... $((Get-Date).ToString())"
            Start-Sleep -Seconds 60
          }
          # development android app
